.rdsl2{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;;
}
.rdsr2{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.bdtc{
  border-top: 1px solid #ec6102;
}
.bdbc{
  border-bottom: 1px solid #ec6102;
}
.bdrc{
  border-right: 1px solid #ec6102;
}
.bdlc{
  border-left:1px solid #ec6102;
}

.base-3d{
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  /* border-radius: 8px; */
  position: relative;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  outline: none;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  user-select: none;
  color: #fff;
  min-height: 36px;
  min-width: 67.5px;
}

/* ec6102 */
/* .btn-3d-checked {
  background: linear-gradient(to bottom, #ff9f3e, #ec6102);
  box-shadow:
    inset 0 1px 0 #fff,
    0 4px 0 #d34900, 
    0 4px 6px rgba(0, 0, 0, 0.2);
}
.btn-3d-checked:hover {
  background: linear-gradient(to bottom, #ff9f3e, #f47f2c);
}
.btn-3d-checked:active {
  transform: translateY(3px) scale(0.98);
  box-shadow:
    inset 0 1px 0 #e85d0d,
    0 1px 0 #b64000,
    0 1px 4px rgba(0, 0, 0, 0.2);
} */

/* ec6102 */
.btn-3d-checked {
  transform: translateY(3px) scale(0.98);
  box-shadow:
    inset 0 1px 0 #e85d0d, /* 按下时的内阴影 */
    0 1px 0 #b64000, /* 更深的外阴影 */
    0 1px 4px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #ff9f3e, #f47f2c); /* 鼠标悬停时使用稍浅的渐变 */
}

.btn-3d-not-checked {
  color: #000;
  background: linear-gradient(to bottom, #fdfdfd, #eee);
  box-shadow:
    inset 0 1px 0 #fff,
    0 4px 0 #999,
    0 4px 6px rgba(0, 0, 0, 0.2);
}
.btn-3d-not-checked:hover {
  background: linear-gradient(to bottom, #ffffff, #cfcfcf);
}
.btn-3d-not-checked:active {
  transform: translateY(3px) scale(0.98);
  box-shadow:
    inset 0 1px 0 #ccc,
    0 1px 0 #888,
    0 1px 4px rgba(0, 0, 0, 0.2);
}
