.rotate90{
  transform: rotate(90deg);
}
.currect{
  width:8px;height:4px;border-left:2px solid #fff;border-bottom:2px solid #fff;transform:translate(0px, -2px) rotate(-45deg);
}
.rowLine {
  width:10px;height:5px;border-left:0px solid transparent; border-bottom:2px solid #fff;transform:translateY(-3px);
}