/**Modal组件起始位置 */
.ani-large{
  animation: large .5s ease -.1s 1 both;
}
@keyframes large {
  0%{transform: scale(.8);}
  100%{transform: scale(1);}
}
.ani-small{
  animation: small .5s ease -.1s 1 both;
}
@keyframes small {
  0%{transform: scale(1);}
  100%{transform: scale(.8);}
}
/**Modal组件结束位置 */
.pb52{
  padding-bottom:52px;
}
