.blankBg::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("@/assets/grid_full_cells.png");
  opacity: 0.3;
  z-index: 0;
  pointer-events: none;
}
.hoverTagBg:hover::before{
  content: '';
  position: absolute;
  transform: translateY(-50%);
  top:50%;
  opacity: .3;
  border-radius: 30px;
  width: 98%;
  height:32px;
  background:#ccc;
}
.hoverShadow:hover{
  box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 4px 0px;
  transform: translateY(-5px);
}

.bdlc{
  border-left: 1px solid #ccc;
}
.bdrc{
  border-right: 1px solid #ccc;
}
.bdbc{
  border-bottom: 1px solid #ccc;
}
.bdtc{
  border-top: 1px solid #ccc;
}
.dot::before{
  content: '';
  position: absolute;
  left: -10px;;
  top: 10px;
  width: 5px;
  height:5px;
  background-color: #000;
  border-radius: 50%;
}
.roboxBox{
  background: url('@/assets/robotBg.png') no-repeat center / cover;
}
.g4b5563{
  color:#4b5563;
  border-bottom:1px solid transparent;
}
.hover1890ff:hover{
  color: #1890ff;
  border-bottom:1px solid #1890ff;
}
.contact {
  color: #fff;                      /* 白字 */
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  /* 发光效果 */
  text-shadow: 
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #0ff,
    0 0 40px #0ff,
    0 0 80px #0ff;
  /* 呼吸闪动动画 */
  /* animation: glow 2s ease-in-out infinite; */
}

@keyframes glow {
  0% {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #0ff,
      0 0 40px #0ff,
      0 0 80px #0ff;
  }
  50% {
    text-shadow:
      0 0 10px #fff,
      0 0 20px #0ff,
      0 0 40px #0ff,
      0 0 60px #0ff,
      0 0 100px #0ff;
  }
  100% {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #0ff,
      0 0 40px #0ff,
      0 0 80px #0ff;
  }
}
