/* 整个滚动条 */
::-webkit-scrollbar {
  /* 对应纵向滚动条的宽度 */
  width: 5px;
  /* 对应横向滚动条的宽度 */
  height: 7px;
}
/* 滚动条上的滚动滑块 */
::-webkit-scrollbar-thumb {
  background-color: rgba(144,147,153,.5);
  border-radius: 32px;
}
/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 32px;
}
/*鼠标上移放大*/
.hoverText:hover{transform: scale(1.1);} 
/*鼠标上移，放大*/
.hoverBtn:hover .poper{
  display: block !important;
}
/*将二次确认的弹框的top值上调*/
.el-message-box {
  top: -200px;
}
/*信息提示层级调整*/
.el-message{
  z-index: 20000 !important;
}
/*popper层级降低*/
.el-popover {
  z-index: 1000 !important;
}
.el-loading-mask {
  z-index: 10000 !important;
}