.blue-theme{
  background: linear-gradient(to right, #6ec6ff, #2196f3, #1565c0);
}
.g1565c0{
  color: #1565c0
}
.red-theme{
  background: linear-gradient(to right, #ff9999, #ff4d4d, #cc0000);
}
.gcc0000{
  color: #cc0000
}